<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <!-- preferences and necessary imports -->
    <import resource="classpath:config/spring/preferences.xml"/>

    <!-- data access object beans -->
    <import resource="classpath:config/spring/dataaccess.xml"/>

    <!-- database object beans -->
    <import resource="classpath:config/spring/database.xml"/>

    <!-- presentation configuration -->
    <import resource="classpath:config/spring/presentation.xml"/>

    <!-- persistence configuration -->
    <import resource="classpath:config/spring/persistence.xml"/>

    <!-- business models configuration -->
    <import resource="classpath:config/spring/businesslayer.xml"/>

    <!-- persistence configuration -->
    <!--<import resource="classpath:config/spring/crm-mailsupport.xml"/>-->
    <!--<import resource="classpath:config/spring/mailsupport.xml"/>-->
    <!--<import resource="classpath:spring/scheduler-service.xml"/>-->

</beans>