*{
    margin: 0;
    padding: 0;
}


.withdraw{
    background-image: url("../../img/cashier-transaction/withdraw.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    margin-bottom: 0!important;
}

.deposit{
    background-image: url("../../img/cashier-transaction/deposit.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    margin-bottom: 0!important;
}

.flip_iteven{
    padding: 0 10px;
    text-align: center;
}
.flip_center{
display: inline-block;
}

.time_isteven_parent_div{
 float: right;
    margin-top: 45px ;
}
.flip_clock_div{
    float: left;
}
#amount {
    width: 60%!important;
    float: none!important;
    display: inline-block;

}
.currency_type_div{
    padding-left: 10px;
    display: inline-block;
}
.merchant_logo{
    background-image: url(../../img/main/merchant_company_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    min-width: 70px;
    height: 70px;
    margin-bottom: 0!important;
    position: relative;
    text-align: center;
    /*display: inline-block;*/

}
.wallet_logo{
    background-image: url(../../img/main/merchant_company_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    min-width: 70px;
    height: 70px;
    margin-bottom: 0!important;
    position: relative;
    text-align: center;
    /*display: inline-block;*/
}
.logos_parent{
    display: inline-block;
    text-align: center;
}
.tax_class_text{
    /*position: absolute;*/
    color: #797979;
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}
.message{
    color: #169F85;
    height: 50px;
}

.tbl_row_big{
    background-color: #2bccc4!important;
}
.tbl_row_low{
    background-color: #e68c8c!important;
}

.partition_picture img{
    width: 90px!important;
}

.custom_modal .modal-dialog{
    margin: 5% auto!important;
}

    /*tooltip*/
.tooltipOwn {
    position: relative;

}

.tooltipOwn .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: -200%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltipOwn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    right: -10%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltipOwn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}