.form_div_conteiner {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px #484848;
}
.setup_info_div{
    width: 100%!important;
}
.info_span {
    display: inline-block;
    font-weight: bold;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info_span_setup{
    display: inline-block;
    font-weight: bold;
    width: 37%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    min-width: 300px;
}
.info_span h3, .info_span_setup h3 {
    margin: 0;
    color: #859aa7;
}

.info_din_span {
    display: inline-block;
    overflow: hidden;
    width: 260px;
    color: #859aa7;
}

.contact_info{
    color: #859aa7;
}
.company_info_fill_text{
    color:#5bc0de;
}
.logos_div_parent img{
    width: 100%;
}
.logo_img_div{
    width: 50px;
    height: auto;
    display: inline-block;
}
.logo_img_connectto{
    width: 80px;
    height: auto;
    display: inline-block;
}

.checkboxLayer {
    height: 156px;
    overflow: auto;
}

.form_div_conteiner > div {
    width: 50%;
    margin: 0 auto;
}

.ngform .ng_div {
    width: 50%;
    margin: 0 auto;
}

.ng_div div:nth-child(1) {
    width: auto !important;
    margin: 10px 0;
}

.main_form {
    margin: 5px 0;
}

.main_form button {
    margin: 0;
}

.company_details {
    text-align: center;

}

.company_details h1 {
    font-weight: bold;
    color:#859aa7;
}

.company_name_input, .company_addres_input, .company_city_input, .company_street_input, .company_zipcode_input, .company_email_input, .company_phone_input, .company_policphone_input, .company_country_input, .company_state_input, .company_files_input {
    width: 100%;
    min-width: 280px;
    margin: 5px 0;
    height: 40px;
    border-bottom: 1px solid black !important;
    padding: 5px 10px;
    text-align: center;
}

input:focus {
    border-bottom: 1px solid #27ccc0 !important;
}

.ist_mult_parent {
    position: relative;
}

.ist_mult {
    position: absolute;
}

.input_error {
    color: #ff3f54;
    font-weight: bold;
}

.input_error_red {
    color: #ff3f54;
    font-weight: bold;
}
.input_error_green {
    color: #f3811f;
    font-weight: bold;
}

.isteven_parent_count_reg {
    padding: 5px 0;
}

.role_textarea {
    width: 100%;
    min-width: 280px;
    margin: 5px 0;
    height: 40px;
    border-bottom: 1px solid black !important;
    padding: 5px 10px;
    text-align: center;
    background-color: #efe4ed;
}

.company_upload_parent {
    width: 100%;
    min-height: 300px;
    height: auto;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.company_upload_parent h1 {
    text-align: center;
}

.company_upload_inpar {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.company_upload_inpar .first_label {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.company_upload_inpar .second_label {
    width: 150px;
    height: 150px;
    background-image: url(./../../img/general/icon/upload.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.company_upload_inpar input {
    width: 100%;
    background-color: lime;
    height: 100%;
    opacity: 0 !important;
    min-width: 10px;
}

.remove {
    width: 150px;
    height: 150px;
    background-image: url(./../../img/general/icon/remove.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.upload_success {
    color: #3daeae;
}

.upload_error {
    color: #bc140d;
}

.upload_remove_succsses {
    color: #3daeae;
}

/*animation*/

/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form {
    position: relative;
}

#form-views {
    width: auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}